:root {
    /* Iris */
    --primaryColorIris: #4D5AE5;
    /* Navy Blue */
    --primaryColorNavyBlue: #2E2F42;
    /* Green */
    --primaryColorGreen: #31D0AA;
    /* Slate */
    --primaryColorSlate: #434455;
    /* Ligsht Slate */
    --primaryColorLightSlate: #8E8F99;
    /* Cornflower */
    --primaryColorCornflower: #E7E9FC;
    /* Cloud */
    --primaryColorCloud: #F4F4FD;
}

body {
    font-family: 'Roboto'
}

ul {
    list-style: none;
}

.logo_main {
    width: 71px;
    height: 24px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaryColorIris);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none
}

.logo_main>span {
    width: 44px;
    height: 24px;
    color: var(--primaryColorNavyBlue);
}

.navigation>li>a {
    width: 48px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primaryColorNavyBlue);
    text-decoration: none
}
.navigation>li>a:hover {
    color: var(--primaryColorSlate);
}


footer {
    width: 1440px;
    height: 310px;
    left: 0px;
    top: 2283px;
    background: var(--primaryColorNavyBlue)
}

.logo_footer {
    width: 71px;
    height: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaryColorCloud);
    text-decoration: none
}

.logo_footer>span {
    width: 44px;
    height: 22px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaryColorIris);

}

.txt_footer {
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2421px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primaryColorCornflower);
}