:root{
    /* Iris */
    --primaryColorIris: #4D5AE5;
    /* Navy Blue */
    --primaryColorNavyBlue: #2E2F42;
    /* Green */
    --primaryColorGreen: #31D0AA;
    /* Slate */
    --primaryColorSlate: #434455;
    /* Ligsht Slate */
    --primaryColorLightSlate:#8E8F99;
    /* Cornflower */
    --primaryColorCornflower: #E7E9FC;
    /* Cloud */
    --primaryColorCloud: #F4F4FD;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--primaryColorNavyBlue);
}
ul {
    list-style: none;
}
.logo_main {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primaryColorIris);
        flex: none;
        order: 1;
        flex-grow: 0;
        text-decoration: none;
}

.web_title {
        color: var(--primaryColorNavyBlue);
}

.nav_main {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primaryColorNavyBlue);
        text-decoration: none;
}
.nav_main:hover {
    color: var(--primaryColorSlate);
}
.nav_main:active{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primaryColorIris);
}

.contacts{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primaryColorSlate);
        text-decoration: none;
        font-style: normal;


}
.contacts:hover{
    color: var(--primaryColorIris);
}

.main_bg{

    background-color: var(--primaryColorNavyBlue);
}

h1{
        font-weight: 600;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}


.order_service {

        background: var(--primaryColorIris);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
.order_service:hover {
        background: #4D5AE5;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 4px;
            cursor: pointer;
}

.btn_name  {
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 1.18;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title_benefits{
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primaryColorNavyBlue);
        flex: none;
        order: 0;
        flex-grow: 0;
}

.txt_benefits{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primaryColorSlate);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.service {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primaryColorNavyBlue);
}

.pics_of_service{
    
    box-sizing: border-box;
        background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
        background-blend-mode: soft-light, normal;
        border: 1px solid var(--primaryColorCornflower);

        
}

.our_team {
        background: var(--primaryColorCloud)
}
.team_title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primaryColorNavyBlue);
}

.team_cards{
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}

.team_cards_header{
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primaryColorNavyBlue);
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-bottom: 8px;
}

.team_cards_description {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primaryColorSlate);
}

footer {
        background: var(--primaryColorNavyBlue)
}

.logo_footer {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primaryColorCloud);
        text-decoration: none;
}

.first_logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaryColorIris);

}
.txt_footer {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primaryColorCornflower);
}

button {
    height: 48px;
    background: var(--primaryColorCloud);
    border: 1px solid var(--primaryColorCornflower);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primaryColorIris);
}

button:hover {
    background: var(--primaryColorIris);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.card_link{
    text-decoration: none;
}
.product_cards{
    background: #FFFFFF;
    border: 0.5px solid var(--primaryColorCloud);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    
}


.product_cards>li>h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primaryColorNavyBlue);
}

.product_cards>li>p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primaryColorSlate);
}